{% extends 'homepage/base.html' %}
{% block content %}

{% load static %}



<img class="img-fluid h-100 w-100" src="{% static 'img/fondo.jpg' %}" alt="" style="position: relative;">
  <div class="d-flex text-start align-items-start justify-content-center pt-5 m-5">
    <form method="post" class=" bg-light row p-5 col-md-3 border boder-primary shadow-lg" style="position: absolute; margin-top: -500px">
  {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control">
  </div>
  <div class="form-group">

  <label for="password">Password</label>
  <input type="password" name="password" class="form-control">

  </div>
  <button type="submit"  class="btn btn-primary">Enviar</button>
</form>
  </div>
{% endblock %}
