   <footer>
          <div class="container-fluid text-white p-5" style="background-color:#7591F0" >
            <!-- Doggy  menu-->
            <div class="row">
              <div class="col-md-4">
                <div class="mw-100">
                <h5>Doggy</h5>
                <ul>
                  <li><a style="text-decoration:none; color: aliceblue;" href="#">Inicio</a></li>
                  <li><a style="text-decoration:none; color: aliceblue;" href="#">Convertirse en cuidador</a></li>
                  <li><a style="text-decoration:none; color: aliceblue;" href="#">Ayuda</a></li>
                  <li><a style="text-decoration:none; color: aliceblue;" href="#">Registrarme</a></li>
                </ul>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="text-center">
                  <h5>Terminos y Condiciones</h5>
                  <h6>Politicas de privacidad</h6>
                </div>
                <div class="container-fluid ">
                  <!-- redes sociales -->
                  <div class="row">
                    <div class="col-md-4">
                      <a href="#"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt=""></a>
                    </div>
                    <div class="col-md-4">
                      <a href="#"><img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt=""></a>
                    </div>
                    <div class="col-md-4">
                      <a href="#"><img src="https://img.icons8.com/color/48/000000/twitter.png" alt=""></a>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-4 text-center">
            <h5>Descarga nuestra aplicacion</h5>
            <a href="#"><img src="https://img.icons8.com/color/48/000000/google-play.png" alt=""></a>
           <!-- icono de apple store -->
            <a href="#"><img src="https://img.icons8.com/color/48/000000/app-store-ios.png" alt=""></a>
          </div>

           
      </footer>
    
