{% load static %}
   <footer>
          <div class="container-fluid text-white p-5" style="background-color:#7591F0" >
            <div class="mx-auto">
            <!-- Doggy  menu-->
            <div class="row">
              <div class="col-md-4">
                <div class="mw-100">
                  <div class="text-left py-2">
                    <h5>Doggy</h5>
                  </div>
                <ul style="list-style: none; margin:0; padding: 0;">
                  <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'home' %}">Inicio</a></li>
	         <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'send_email_help' %}">Ayuda</a></li>

        {% if user.is_authenticated %}
         
          {% if 'Cuidador' in role %}
	           <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'sitter_list' %}">Ver otros cuidadores</a></li>
	                   

          {% endif %}  
          
          {% if 'Dueño' in role %}
	
	           <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'sitter_list' %}">Buscar cuidadores</a></li>
	  {% endif %}
         
          {% if 'Invitado' in role %}
          
	           <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'sitter_list' %}">Buscar cuidadores</a></li>
	           <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'create_sitter' user.id %}">Convertirse en cuidador</a></li>
	           <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'pet:register' user.id  %}">Registrar canino</a></li>

	  {% endif %}  

        {% else %}
	  
	<li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'sitter_list' %}">Buscar cuidadores</a></li>
	
	<li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'useraccount:login' %}">Iniciar sesións</a></li>
	
      
             <li class="py-2"><a style="text-decoration:none; color: aliceblue;" href="{% url 'useraccount:register' %}">Registrarme</a></li>
         
        

	{% endif %}
                </ul>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="text-left py-2">
                  <h5>Terminos y Condiciones</h5>
                  <h6 class="py-2">Politicas de privacidad</h6>
                </div>
                <div class="container-fluid ">
                  <!-- redes sociales -->
                  <div class="row">
                    <div class="col-4">
                      <a href="https://www.instagram.com/doggyoficial1820/"><img src="{% static 'img/icon-instagram.png' %}"> </a>
                   </div>
                    <div class="col-4">
                      <a href="#"><img src="{% static 'img/icon-facebook.png' %}"> </a>
                    </div>
                    <div class="col-4">
                      <a href="https://twitter.com/AppDoggy"><img src="{% static 'img/icon-twitter.png' %}"> </a>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-4 text-left py-2">
            <h5>Descarga nuestra aplicacion</h5>
	    <a href="#"><img style= "max-width: 220px; padding: 5px;" src="{% static 'img/icon-google-play.png' %}"></a>
	    <a href="#"><img style= "max-width: 200px; padding: 5px;" src="{% static 'img/icon-apple-store.png' %}"></a>

          </div>
        </div>
           
      </footer>
    
