{% extends 'homepage/base.html' %}

{% block content %}

{% load static %}
{% if user.is_authenticated %}

<div class="d-flex items-aling-center justify-content-center pt-5">
  <form class="row-2 p-5 m-5 border border-dark rounded" action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Enviar</button>
      <a class='btn btn-danger' href={% url 'home' %}>Cancelar</a>
    </div>  
  </form>
</div>
{% else %}
 You´re not allowed here!    
{% endif %} 
{% endblock %}