{% extends "homepage/base.html" %}
{% load static %} 
{% block title %}
  Detalles de la publicación
{% endblock %}
{% block content %}

<div class="d-flex p-5 justify-content-start w-100 h-100" style="background-image:url({% static '' %}); background-size: cover; background-repeat:no-repeat;"> 
  <div class="py-5">
   
      <div class="card" style="width: 30rem;">
        <img src="{{details.picture_site.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nombre del cuidador: &nbsp; {{details.user_id}}</h5>
          <p class="card-text">{{details.descripcion}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Localidad: </li>
          <li class="list-group-item">Direccion:</li>
          <li class="list-group-item">Tarifa: ${{ details.price }}</li>
        </ul>
        <div class="text-end"> 
          <div class="card-body">
            <a href="#" class="btn btn-danger">Cancelar</a>
            <a href="#" class="btn btn-outline-success">Reservar</a>
          </div>
        </div>
      </div>
    
  </div>
</div>
{% endblock %}


