
{% extends "homepage/base.html" %}
{% load static %} 
{% block title %}
  Detalles de la publicación
{% endblock %}
{% block content %}
  


    
      <div class="container-fluid mt-5 card  ">
        <div class="card-body card ">
          <h5 class="card-title bg-secondary ">Detalle de la publicacion</h5>
          <p class="card-text">{{details.descripcion}}</p>
          <p class="card-text">Precio del servicio ${{ details.price }}</p>
          <p class="card-text">Nombre del cuidador: &nbsp; {{details.user_id}}</p>
          <img src="{{details.picture_site.url}}" class=" img-fluid rounded-start img-thumbnail" width="600" height="300" alt="...">
        </div>
      </div>

{% endblock %}


