{% extends "homepage/base.html" %}
{% block content %}
<div class="d-flex items-aling-center justify-content-center pt-5">
    <form class="row-2 p-5 m-5 border border-dark rounded" action="" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        {{form.as_p}}
        {{ form.non_field_errors }}
        <div class="d-flex items-aling-center justify-content-center pt-2">
            <input type="submit" class="btn btn-success" value="Registrarme como cuidador" />
        </div>
    </form>

</div>

{% endblock %}
