<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    
</head>
  {% include "messages.html" %}
<body>
    <div class="container-fluid" >
    </div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">doggy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse position-absolute end-0" id="navbarNav">
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Convertirse en cuidador</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ayuda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Salir </a>
                </li>
              {% else %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Ayuda</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Registrarme</a>
                </li>
             
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Comenzar</a>
                </li>

                {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    </div>
  

    {% block content %}

     <!-- LOGICA DE LAS DEMAS VISTAS -->

    {% endblock %}
    
    <section>
      <footer>
          <div class="container-fluid text-white p-5" style="background-color:#7591F0" >
            <!-- Doggy  menu-->
            <div class="row">
              <div class="col-md-4">
                <div class="container-fluid">
                <h5>Doggy</h5>
                <ul>
                  <li><a style="text-decoration:none; color: aliceblue;" href="#">Inicio</a></li>
                  <li><a style="text-decoration:none; color: aliceblue;" href="#">Convertirse en cuidador</a></li>
                  <li><a style="text-decoration:none; color: aliceblue;" href="#">Ayuda</a></li>
                  <li><a style="text-decoration:none; color: aliceblue;" href="#">Registrarme</a></li>
                </ul>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="text-center">
                  <h5>Terminos y Condiciones</h5>
                  <h6>Politicas de privacidad</h6>
                </div>
                <div class="container-fluid ">
                  <!-- redes sociales -->
                  <div class="row">
                    <div class="col-md-4">
                      <a href="#"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt=""></a>
                    </div>
                    <div class="col-md-4">
                      <a href="#"><img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt=""></a>
                    </div>
                    <div class="col-md-4">
                      <a href="#"><img src="https://img.icons8.com/color/48/000000/twitter.png" alt=""></a>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-4 text-center">
            <h5>Descarga nuestra aplicacion</h5>
            <a href="#"><img src="https://img.icons8.com/color/48/000000/google-play.png" alt=""></a>
           <!-- icono de apple store -->
            <a href="#"><img src="https://img.icons8.com/color/48/000000/app-store-ios.png" alt=""></a>
          </div>

           
      </footer>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>